/* Main */

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textalignall {
  display: flex;
  flex-direction: row;
  padding: 10%;
  margin-top: 0.5%;
  justify-content: space-between;
  margin-bottom: 4%;
}

.textalign {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  text-align: left;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: -5%;
}

.title,
.description {
  text-align: left;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: left;
  width: 500px;
}

/* Nav */

.navbar {
  display: flex;
}

.navlink {
  color: #fff;
  margin-left: 1500%;
  /* display: flex; */
  /* justify-content: space-around; */
}

/* Questions Page */
.questions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.linkquestions {
  width: 800px;
}

/* Images and Graphics */
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.picsizes {
  width: 235px;
  margin-left: 10%;
}

.logosizes {
  width: 100px;
}

.logosalign {
  display: flex;
  flex-direction: row;
}

.vercellogo {
  width: 120px;
  margin-left: 400%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
